body {
    background: #25a9db;
    font-family: roboto;
    text-align: center;
}

h1 {
    color: #fff;
}

.ketengah{
    margin: 10px auto;
    width: 1150px;
}

.kotak {
    background-color: blue;
    width: 500px;
    float: left;
    height: 250px;
    margin: 30px;
}

.gradient1 {
    background: linear-gradient(red,green); /*standar syntax*/
    background: -webkit-linear-gradient(red, green); /*For Safari5.1 to 6.0*/
    background: -o-linear-gradient(red, green); /*For Opera 11.1  to12*/
    background: -moz-linear-gradient(red, green); /* For Firefox */
}

.gradient2 {
    background: linear-gradient(red,yellow, green); /*standar syntax*/
    background: -webkit-linear-gradient(red, yellow, green); /*For Safari5.1 to 6.0*/
    background: -o-linear-gradient(red, yellow, green); /*For Opera 11.1  to12*/
    background: -moz-linear-gradient(red, yellow, green); /* For Firefox */
}

.gradient3 { 
    background: radial-gradient(red, yellow, green); /* Standard syntax */
    background: -webkit-radial-gradient(red, yellow, green); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(red, yellow, green); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
}

.gradient4 {
    background: radial-gradient(circle, red, yellow, green); /* Standard syntax */ 
    background: -webkit-radial-gradient(circle, red, yellow, green); /*Safari */
    background: -o-radial-gradient(circle, red, yellow, green); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, red, yellow, green); /* Firefox 3.6 to 15 */
}
